.contact {
    background-color: #b19d7f;
    padding: 42px 0 60px;
    &__logo{
        display: block;
        margin: 0 auto;
    }
    &__box {
        margin-top: 29px;
        text-align: center;
    }
    &__txt {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 600;
        color: $color-white;
        letter-spacing: 0.05em;
        text-align: center;
    }
    &__desc {
        font-size: 1.8rem;
        line-height: 1.94;
        font-weight: 400;
        color: $color-white;
        font-family: $font-mincho;
        margin: 20px 0;
        text-align: center;
    }

    &__link {
        font-size: 1.6rem;
        line-height: 2.5;
        font-weight: 400;
        color: $color-white;
        text-align: center;
transition: all .3s ease-in-out;
        &:hover{
            text-decoration: none;
        }
    }

    &__btn-box{
        margin-top: 50px;
        display: flex;
        justify-content: center;

    }
}


.info{
    background-color: #F4F2F0;
    padding: 40px 0 100px;
    .heading-primary-en{
        &::before{
            content: none;
        }
    }

    &__btn-box{
        display: flex;
        justify-content: space-between;
    }
}
