.footer {
    background-color: $color-org;
    padding         : 96px 0 41px;

    &__wrapper {
        max-width: 1280px;
        margin   : 0 auto;
    }

    &__left {
        display        : flex;
        justify-content: space-between;
        align-items    : flex-end;
        margin-bottom  : 60px;
    }

    &__rgt {
        display        : flex;
        justify-content: space-between;
    }

    &__media {
        display        : flex;
        gap            : 30px;
        align-items    : flex-end;
        justify-content: center;

        li {
            a {
                transition: all 0.3s ease-in-out;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    &__logo {
        display        : flex;
        align-items    : flex-end;
        justify-content: center;
        gap            : 33px;
        text-decoration: unset;
        transition     : all 0.3s ease-in-out;

        &:hover {
            opacity: 0.8;
        }

        &-ttl {
            font-family   : $font-mincho;
            font-size     : 2.2rem;
            line-height   : calc(35/22);
            letter-spacing: 0.04em;
            font-weight   : 400;
            color         : $color-white;
        }
    }

    &__dtls {
        display        : flex;
        justify-content: flex-end;
        gap            : 15px;
        align-items    : flex-end;
        padding-bottom : 3px;

        &-left {
            max-width: 570px;
        }

        &-ttl {
            font-size     : 1.4rem;
            font-weight   : 500;
            color         : $color-white;
            letter-spacing: 0.05em;
            line-height   : calc(24/14);
            margin-bottom : 15px;
        }

        &-desc {
            font-size     : 1rem;
            line-height   : calc(22/10);
            letter-spacing: -0.06em;
            font-weight   : 400;
            text-align    : start;
            color         : $color-white;
        }

        &-img {
            margin-bottom: -13px;
        }
    }

    &__company {
        display           : flex;
        flex-direction    : column;
        justify-content   : flex-end;
        // align-items    : flex-end;
        gap               : 9px;

        &-txt {
            font-size     : 1.2rem;
            line-height   : calc(24/12);
            letter-spacing: 0.05em;
            font-weight   : 400;
            color         : $color-white;
        }
    }

    &__link {
        display        : flex;
        justify-content: flex-end;
        gap            : 30px;

        li {
            a {
                font-size     : 1.4rem;
                font-weight   : 400;
                line-height   : calc(26/14);
                letter-spacing: 0.05em;
                color         : $color-white;
                transition    : all 0.3s ease-in-out;

                &:hover {
                    opacity: 0.8;
                }

            }
        }

    }

    &__banner {
        position       : fixed;
        bottom         : 20px;
        z-index        : 20;
        display        : flex;
        gap            : 10px;
        justify-content: flex-end;
        align-items    : center;
        width          : 100%;
        padding-right  : 51px;
        opacity        : 1;
        visibility     : visible;
        transition     : opacity 0.1s ease-in-out;

        @include mq("tablet", "max") {
            padding: 0;
            gap    : unset;
        }

        &.hide {
            opacity   : 0;
            visibility: hidden;
            transition: opacity 0.1s ease-in-out;
            
            &-imp {
                opacity   : 0 !important;
                visibility: hidden !important;
                transition: opacity 0.1s ease-in-out;
            }
        }

    }

    &__btn {
        width           : 100%;
        max-width       : 360px;
        height          : 112px;
        background-color: $color-red;
        text-decoration : unset;
        display         : flex;
        flex-direction  : column;
        align-items     : center;
        justify-content : center;
        gap             : 5px;
        border-radius   : 56px;
        transition      : all 0.3s ease-in-out;

        &:nth-child(2) {
            background-color: $color-red-2;

            & .footer__btn-banner {
                color: $color-red-2;
            }
        }

        &:hover {
            opacity: 0.8;
        }

        @include mq("tablet", "max") {
            height       : 60px;
            border-radius: unset;
            gap          : 0px;
        }

        &-box {
            display        : flex;
            justify-content: center;
            align-items    : center;
            gap            : 6px;

            @include mq("tablet", "max") {
                gap: 3px;
            }
        }

        &-banner {
            color           : $color-red;
            background-color: $color-white;
            max-width       : 72px;
            padding         : 4px 8px 5px;
            display         : flex;
            justify-content : center;
            align-items     : center;
            font-size       : 1.4rem;
            line-height     : calc(21/14);
            font-family     : $font-kaku;
            border-radius   : 4px;

            @include mq("tablet", "max") {
                font-size  : 0.8rem;
                line-height: calc(11/8);
                padding    : 4px 4px 3px 4px;
            }
        }

        &-ttl {
            font-size     : 1.6rem;
            font-weight   : 400;
            line-height   : calc(23/16);
            letter-spacing: 0.05em;
            color         : $color-white;

            @include mq("tablet", "max") {
                font-size  : 0.8rem;
                line-height: calc(24/8);
            }
        }

        &-ttlt {
            font-size  : 2rem;
            font-weight: 700;
            line-height: calc(27/20);
            color      : $color-white;

            @include mq("tablet", "max") {
                font-size  : 1rem;
                line-height: calc(24/10);
            }

            span {
                position: relative;

                &::after {
                    content         : '';
                    position        : absolute;
                    top             : -4%;
                    left            : 50%;
                    transform       : translate(-50%, -50%);
                    width           : 4px;
                    height          : 4px;
                    border-radius   : 50%;
                    background-color: $color-white;
                }
            }
        }

        &-line {
            border          : 1px solid $color-gray-4;
            max-width       : 112px;
            height          : 112px;
            width           : 100%;
            background-color: $color-white;
            display         : flex;
            flex-direction  : column;
            align-items     : center;
            justify-content : center;
            border-radius   : 50%;
            text-decoration : unset;
            transition      : all 0.3s ease-in-out;

            @include mq("tablet", "max") {
                border       : unset;
                max-width    : 61px;
                height       : 60px;
                border-radius: unset;

            }

            &:hover {
                opacity: 0.8;
            }

            p {
                color      : $color-green2;
                font-size  : 1.2rem;
                font-weight: 700;
                line-height: calc(16/12);
                text-align : center;

                @include mq("tablet", "max") {
                    font-size  : 0.8rem;
                    line-height: calc(10/8);
                }

            }

            img {
                max-width: 50px;

                @include mq("tablet", "max") {
                    max-width: 29px;
                }
            }
        }
    }
}