.income {
    &__box {
        clip-path: polygon(2% 0, 100% 0, 100% 78%, 98% 100%, 0 100%, 0 25%);
        background: linear-gradient(90deg, rgba(240,228,206,1) 0%, rgba(221,179,102,1) 6%, rgba(178,135,58,1) 50%, rgba(124,92,36,1) 100%);
        margin-top: 60px;
    }
    &__inner {
        display: flex;
        padding: 10px 0 20px;
    }

    &__left{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-right: 43px;
    }

    &__right{
        width: 50%;
        display: flex;
        align-items: center;
    }

    &__date-wpr{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        // flex-direction: column;
    }

    &__time{
        font-size: 2.2rem;
        font-weight: 600;
        color: $color-white;
        margin-right: 20px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 32px;
            background-color: #fff;
            right: -12px;
            top: -3px;
            transform: rotate(30deg);
        }
    }

    &__date{
        font-size: 1.6rem;
        font-weight: 700;
        color: $color-white;

        em{
            font-family: $font-tertiary;
        }
    }

    &__ttl{
        font-size: 3.6rem;
        line-height: 1;
        font-family: $font-mincho;
        color: $color-white;
        padding: 15px 0;
        border-top: 1px solid $color-white;
        border-bottom: 1px solid $color-white;
    }

    &__price{
        font-size: 13.2rem;
        font-weight: 700;
        letter-spacing:-0.03em;
        font-family: $font-mincho;
        color: $color-white;
        span{
            font-size: 5.2rem;
            line-height: 1.1;
        }
    }
}
