.news {
    background-color: #f9f8f7;

    &__link {
        display: flex;
        align-items: center;
        padding: 32px 50px;
        border-bottom:1px solid #707070;
        text-decoration: none;

        &:first-child{
            border-top: 1px solid #707070;
        }
    }

    &__cat-box {
        display: flex;
        align-items: center;
        max-width: 215px;
        width: 100%;
        margin-right: 45px;
    }
    &__cat {
        font-size: 1.2rem;
        line-height: 2.4;
        letter-spacing: 0.05em;
        color: #fff;
        width: 60px;
        height: 28px;
        background-color: #b19d7f;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }

    &__date {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.05em;
        color: #707070;
    }

    &__desc {
        font-size: 1.6rem;
        line-height: 2;
        color: $color-black;
    }
}
