html {
    font-size : 10px;
    //for footer position bottom
    overflow-y: scroll;
    // height: 100%;
    box-sizing: border-box;
}

body {
    font-family      : $font-primary;
    font-size        : 1.6rem;
    font-weight      : 400;
    color            : $color-black;
    line-height      : 1.2;
    background       : $color-white;
    min-width        : 1290px;
    position         : relative;
   
    &.of-hidden {
        overflow: hidden;
    }
}

.container {
    display  : block;
    max-width: 100%;
    padding  : 0 30px;
    margin   : 0 auto;
    overflow : hidden;

   
    @include mq("desktop-lg") {
        max-width: 1280px;
        padding  : 0;
    }
}

.container-lg {
    display  : block;
    max-width: 100%;
    padding  : 0 15px;
    margin   : 0 auto;
    overflow : hidden;

    @include mq("phablet") {
        // padding: 0;
        // max-width: 546px;
    }

    @include mq("tablet") {
        // max-width: 708px;
    }

    @include mq("tablet-wide") {
        // max-width: 890px;
    }

    @include mq("desktop-lg") {
        max-width: 1360px;
        padding  : 0;
    }
}


%reset-ul {
    margin    : 0;
    padding   : 0;
    list-style: none;
}