// font-family
$font-primary: 'Noto Sans JP', sans-serif;
$font-secondary: 'Instrument Serif', serif;
$font-tertiary: 'Plus Jakarta Sans', sans-serif;
$font-mincho: 'Zen Old Mincho', serif;
$font-kiwi: 'Kiwi Maru', serif;
$font-kaku: "hiragino-kaku-gothic-pron", sans-serif;

// colors
$color-primary: #C1A760;
$color-secondary: #4ac1ff;

$color-white: #ffffff;
$color-black: #333333;

$color-gray: #666;
$color-blue: #1534f3;
$color-green: #82d907;
$color-green2: #70A55B;
$color-gray-2: #eeeeee;
$color-gray-4: #DDD7CF;
$color-red: #BA4F4F;
$color-pink: #EB88A2;
$color-org: #B19D7F;
$color-org02: #B7963E;
$color-gray-3: #F4F2F0;
$color-red: #CC3636;
$color-red-2: #E66A6A;
$color-pink: #EB88A2;
$color-lgt-brown: #DDD7CF;
$color-yellow: rgba(248, 182, 0, 0.3);
$color-white : #ffffff;
$color-black : #333;
$color-gray : #666;
$color-blue : #1534f3;
$color-green : #82d907;
$color-green2 : #70A55B;
$color-gray-2 :#eeeeee;
$color-gray-4 :#DDD7CF;
$color-red :#BA4F4F;
$color-pink :#EB88A2;
$color-org :#B19D7F;
$color-org02 :#B7963E;
$color-gray-3 :#F4F2F0;
$color-red :#CC3636;
$color-red-2 :#E66A6A;